.container {
  padding: 2% 0 2% 0;
  display: flex;
  justify-content: center;
}

.form {
  outline: dashed 1px black;
}

body {
  background-color: beige;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1% 1% 1% 1%;
}
